PIHOLE_WEB_PASSWORD=change-me
GLUETUN_WIREGUARD_PRIVATE_KEY=replace-me
GLUETUN_WIREGUARD_ADDRESSES=10.0.0.2/32
ISAMBARD_BROWSER_PORT=8766
ISAMBARD_BROWSER_URL=https://isambard-browser.towerundersiege.com
ISAMBARD_BROWSER_USER=guac
ISAMBARD_BROWSER_PASSWORD=guac
CLOUDFLARE_API_TOKEN=replace-me
CLOUDFLARED_TUNNEL_TOKEN=replace-me
